@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Pretendard+Variable:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900 font-pretendard;
}

h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
